html{
	position:relative;
}
body{
	margin-bottom:100px;
	margin-top:30px;
}
.jumbotron{
	height:400px;
	background-image: url('img/wp.jpeg');
	background-attachment: fixed;
	background-size: cover;
	background-position: 0-100px;
	color:#black;
	overflow: hidden;
}

.jumbotron img{
	width:200px;
	border:5px solid #eaeaea;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}
.jumbotron h1, .jumbotron p{
	text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}
hr{
	width:250px;
	border-top:3px solid #999;
}
section{
	min-height:600px;
}
.pkiri, .pkanan{
	opacity: 0;
	transform: translate(-50px, 0) rotate(15deg);
	transition: 1s;
}
.pkanan{
	transform: translate(50px, 0) rotate(-15deg);
}
.pkiri.pMuncul, .pkanan.pMuncul{
	opacity: 1;
	transform: translate(0,0);
}
.portfolio{
	background-color:#eee;
}
.portfolio .thumbnail{
	opacity: 0;
	transform:translate(0, -40px);
	transition: 0.5s;
}
.portfolio .thumbnail.keluar{
	opacity: 1;
	transform: translate(0,0);
}
.contact{
	min-height:800px;
}
footer{
	position:absolute;
	width:100%;
	height:100px;
	bottom:0;
	background-color:#333;
	padding:30px;
}
footer p{
	color:#aaa;
	font-size:0.9em;
}
footer p i{
	color:salmon;
}
.form-group{
	width:800px;
}
.form-control{
	width:800px;
}
